header{
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-bottom: 10px solid var(--primary-color);
  padding: 10px 20px;
}

nav{
  text-align: right;
}

a{
  display: inline-flex;
  align-items: center;
  color: var(--tertiary-color);
  font-size: 20px;
  font-family: 'Fira Code', monospace;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}

a::before{
  content:"";
  background-color: var(--secundary-color);
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

#buttonDownload{
 display: inline-block;
 background-color: var(--secundary-color);
 box-shadow: 5px 5px 0 var(--tertiary-color);
 padding: 18px 20px;
 margin-right: 0px;
 transition: transform 155ms linear;
}

#buttonDownload:hover{
   transform: scale(1.05);
}