.main-section{
    background-color: var(--primary-color);
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid var(--secundary-color);
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-form{
    border-bottom: none;
}