.main-header{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    border-bottom: 10px solid var(--primary-color);
    padding: 10px 20px;
  }

.main-header .main-button{
    background-color: var(--secundary-color);
}

.main-header .navigation {
    text-align: right;
}

