.main-banner{
    background-image: url(../../assets/img/photo.png);
    background-image: no-repeat;
    background-size: 100%;
    height: 700px;
    border-bottom: 10px solid var(--primary-color);
    display: flex;
    flex-direction: column;
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 39.375rem;
    margin-top: 115px;
    margin-left: 30px;
}
.main-banner .main-box {
    margin-bottom: 40px;
}
.main-banner .navigation{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 1200px){
    .main-banner .wrapper {
        width: 30.375rem;
        margin-top: 115px;
        margin-left: 30px;
      
    }

    .main-banner{
        background-size: 100%;
    }
}





